html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: $weight-default;
}

h1 {
  font-size: $font-size-l;
  font-weight: $weight-medium;
}

p {
  font-size: $font-size;
}

.desktop {
  max-width: $container-breakpoint;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $container-breakpoint) {
    margin-right: $space-xs;
    margin-left: $space-xs;
  }
}
