@use "sass:math";

$font-size: 1em; // 16px
$font-size-xxl: $font-size * 4; // 64px
$font-size-xl: $font-size * 3; // 48px
$font-size-l: $font-size * 2; // 32px
$font-size-m: 1.25em; // 20px
$font-size-s: 0.875em; // 14px
$font-size-xs: 0.75em; // 12px

$media-s: 576px; // mobile
$media-m: 768px;
$media-l: 992px; // tablet
$media-xl: 1200px;
$media-xxl: 1600px;

$container-breakpoint: $media-xl;

$weight-default: 400;
$weight-medium: 500;
$weight-semi: 600;
$weight-bold: 700;

$space: 8px;
$space-xs: math.div($space, 2); // 4px
$space-s: $space * 2; // 16px
$space-m: $space * 3; // 24px
$space-l: $space * 4; // 32px
$space-xl: $space * 5; // 40px
$space-xxl: $space * 8; // 64px
