<template>
  <div>
    <ActionsHeader />
    <CardsDisplay />
    <AddUserModal />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import data from "@/assets/mocks/user_roles.json";
import CardsDisplay from "@/components/CardsDisplay.vue";
import ActionsHeader from "@/components/ActionsHeader.vue";
import AddUserModal from "@/components/AddUserModal.vue";

export default {
  components: { CardsDisplay, ActionsHeader, AddUserModal },
  name: "Home",
  data() {
    return {
      modalOpen: true,
    };
  },
  methods: {
    ...mapActions(["setInitialUsers"]),
  },
  beforeMount() {
    const users = data.map((user) => user);
    this.setInitialUsers(users);
  },
};
</script>
