<template>
  <a-row type="flex" justify="space-between" class="search-component-container">
    <a-col :xs="24" :md="18" :lg="14">
      <SearchComponent />
    </a-col>
    <a-button type="primary" class="add-user-button" @click="openModal(true)"
      >Add User</a-button
    >
  </a-row>
</template>

<script>
import { mapActions } from "vuex";
import SearchComponent from "@/components/SearchComponent.vue";

export default {
  name: "ActionsHeader",
  components: {
    SearchComponent,
  },
  data() {
    return {
      modalOpen: false,
    };
  },
  methods: {
    ...mapActions(["openModal"]),
  },
};
</script>

<style lang="scss" scoped>
.search-component-container {
  margin: $space-xl 0;
}

.add-user-button {
  @media (max-width: $media-m) {
    margin-top: $space;
  }
}
</style>
