<template>
  <a-modal v-model="open" @ok="submit" @cancel="resetModal">
    <a-form-model :model="form" :rules="rules" ref="addUserForm">
      <a-row>
        <a-col>
          <a-form-model-item label="Name" prop="name">
            <a-input v-model="form.name" />
          </a-form-model-item>
        </a-col>
        <a-col>
          <a-form-model-item label="Type" prop="type">
            <a-radio-group v-model="form.type">
              <a-radio value="admin"> Admin </a-radio>
              <a-radio value="job_admin"> Job Admin </a-radio>
            </a-radio-group>
          </a-form-model-item>
        </a-col>
        <a-col>
          <a-form-model-item label="Description" prop="description">
            <a-input v-model="form.description" type="textarea" />
          </a-form-model-item>
        </a-col>
        <a-col>
          <a-form-model-item label="Editable" prop="editable">
            <a-switch v-model="form.editable" />
          </a-form-model-item>
        </a-col>
        <a-col>
          <a-form-model-item label="Active" prop="active">
            <a-switch v-model="form.active" />
          </a-form-model-item>
        </a-col>
      </a-row>
    </a-form-model>
  </a-modal>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AddUserModal",
  data() {
    return {
      rules: {
        name: [
          { required: true, message: "Name is required" },
          { min: 3, message: "Name must be at least 3 characters" },
        ],
        type: [{ required: true, message: "Type is required" }],
        description: [{ required: true, message: "Description is required" }],
      },
      form: {
        name: "",
        type: "",
        description: "",
        editable: false,
        active: false,
      },
      open: false,
    };
  },
  watch: {
    getModalStatus(val) {
      this.open = val;
    },
    getCurrentEditUser(val) {
      if (val) {
        this.form = { ...this.form, ...val };
        return;
      }
      this.resetModal();
    },
  },
  computed: {
    ...mapGetters(["getModalStatus", "getCurrentEditUser"]),
  },
  methods: {
    ...mapActions(["addUser", "openModal", "editUser", "addEditedUser"]),
    submit() {
      this.$refs.addUserForm.validate((valid) => {
        const randomNumber = Math.floor(Math.random() * 10000) + 20;
        if (valid) {
          const body = {
            ...this.form,
            modified_on: new Date().toString(),
          };

          if (!this.getCurrentEditUser) {
            body.id = randomNumber;
            body.created_on = new Date().toString();
            body.users = [];
            this.addUser(body);
          } else {
            this.addEditedUser(body);
          }
          this.resetModal();
        }
      });
    },
    resetModal() {
      this.form = {
        name: "",
        type: "",
        description: "",
        editable: false,
        active: false,
      };
      this.openModal(false);
      this.editUser(null);
    },
  },
};
</script>
