<template>
  <a-row
    type="flex"
    justify="space-between"
    align="middle"
    class="card-footer-container"
  >
    <a-col>
      <p class="date-text">
        {{ editable ? "Last updated:" : "Date created:" }}
        {{ date | formatDate }}
      </p>
    </a-col>
    <a-col class="icon-or-edit-container">
      <a-icon v-if="!editable" type="lock" theme="filled" class="lock-icon" />
      <div v-else class="editable-buttons">
        <p>
          <span @click="editUser(id)">EDIT</span>
          <span class="delete-text" @click="deleteUser(id)">DELETE</span>
        </p>
      </div></a-col
    >
  </a-row>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "CardFooter",
  props: {
    date: {
      type: String,
      default: "",
      required: true,
    },
    id: {
      type: Number,
      default: 0,
      required: true,
    },
    editable: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  filters: {
    formatDate: function (value) {
      if (value) {
        const options = {
          year: "numeric",
          month: "numeric",
          day: "numeric",
        };
        const date = new Date(value);
        return date.toLocaleDateString("en-US", options);
      }
    },
  },
  methods: {
    ...mapActions(["deleteUser", "editUser", "openModal"]),
  },
};
</script>

<style lang="scss" scoped>
.card-footer-container {
  font-size: $font-size-m;
  min-height: $space-xl;

  @media (max-width: $media-xl) and (min-width: $media-l) {
    min-height: $space-xxl;
  }

  p {
    margin: 0;
  }

  .icon-or-edit-container {
    span {
      cursor: pointer;
    }

    .lock-icon {
      font-size: $font-size-l;
    }

    .delete-text {
      margin-left: $space-xs;
      color: red;
    }
  }
}
</style>
