<template>
  <a-card>
    <a-row type="flex" justify="end" class="card-header">
      <a-col>
        <a-tag v-if="!data.active" color="red"> INACTIVE </a-tag>
      </a-col>
    </a-row>
    <div class="rol-info">
      <p class="rol-title">{{ data.name }}</p>
      <p class="rol-admin-subtitle" v-if="data.type === 'admin'">
        Administrator Rol
      </p>
    </div>
    <div class="rol-description">
      <p>
        {{ data.description }}
      </p>
    </div>
    <card-avatar-list :users-list="data.users" />
    <a-divider />
    <card-footer
      :date="data.created_on"
      :id="data.id"
      :editable="data.editable"
    />
  </a-card>
</template>

<script>
import CardAvatarList from "./CardAvatarList.vue";
import CardFooter from "./CardFooter.vue";

export default {
  name: "RoleCard",
  components: {
    CardAvatarList,
    CardFooter,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.card-header {
  min-height: $space-xl;
}

.rol-description {
  margin-top: $space-m;
}

.rol-info {
  min-height: $space-xl;

  p {
    line-height: 0;
  }

  .rol-title {
    font-size: $font-size-l;
  }

  .rol-admin-subtitle {
    font-size: $font-size-m;
  }
}
</style>
