<template>
  <a-row type="flex" :gutter="24">
    <a-col
      :xs="24"
      :md="12"
      :lg="8"
      v-for="user in getFilteredUsers"
      :key="user.id"
      class="card-container"
    >
      <Card :data="user" />
    </a-col>
  </a-row>
</template>

<script>
import { mapGetters } from "vuex";
import Card from "@/components/Card.vue";

export default {
  components: {
    Card,
  },
  computed: {
    ...mapGetters(["getFilteredUsers"]),
  },
};
</script>

<style lang="scss" scoped>
.card-container {
  margin-bottom: $space-l;
}
</style>
