<template>
  <div>
    <a-avatar
      v-for="user in usersList"
      :key="user.id"
      :src="user.photo_url"
      class="avatar"
    ></a-avatar>
  </div>
</template>

<script>
export default {
  name: "CardAvatarList",
  props: {
    usersList: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.avatar {
  margin-right: $space-xs;
}
</style>
