<template>
  <a-row :gutter="12">
    <a-col :xs="24" :md="12">
      <a-input-search
        placeholder="Search user by rol name"
        style="width: 100%"
        @change="onSearch"
      />
    </a-col>
    <a-col :xs="24" :md="12" class="status-select-container">
      <a-select
        default-value="all"
        style="width: 100%"
        @change="handleChangeStatus"
      >
        <a-select-option
          v-for="(status, index) in statusOptions"
          :key="index"
          :value="status.value"
        >
          {{ status.label }}
        </a-select-option>
      </a-select>
    </a-col>
  </a-row>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "SearchComponent",
  data() {
    return {
      statusOptions: [
        {
          value: "active",
          label: "Active",
        },
        {
          value: "inactive",
          label: "Inactive",
        },
        {
          value: "all",
          label: "Active and Inactive",
        },
      ],
      currentStatus: "all",
      statusMap: {
        active: false,
        inactive: true,
        all: undefined,
      },
      timeout: null,
    };
  },
  methods: {
    ...mapActions(["filterUsersByName", "filterUsersByStatus"]),
    onSearch(e) {
      if (this.timeout) clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        const filter = {
          text: e.target.value,
          status: this.statusMap[this.currentStatus],
        };
        this.filterUsersByName(filter);
      }, 300);
    },
    handleChangeStatus(status) {
      const statusMap = {
        active: false,
        inactive: true,
        all: undefined,
      };
      this.currentStatus = status;
      this.filterUsersByStatus(statusMap[status]);
    },
  },
};
</script>

<style lang="scss" scoped>
.status-select-container {
  @media (max-width: $media-m) {
    margin-top: $space;
  }
}
</style>
