<template>
  <div id="app" class="desktop">
    <h1>User Roles Managment</h1>
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/css/_utils.scss";

h1 {
  margin-top: $space-l;
}
</style>
